.h-1 {
  font-size: 24px;
  font-weight: 700;
}

.h-2 {
  font-size: 22px;
  font-weight: 700;
}

.mat-typography h3 {
  font-size: 20px;
  font-weight: 600;
}

.h-3 {
  font-size: 20px;
  font-weight: 600;
}

.h-4 {
  font-size: 18px;
  font-weight: 600;
}

.h-5 {
  font-size: 16px;
  font-weight: 600;
}

.p {
  font-size: 0.875rem;
  font-weight: 400;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem !important;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}