$primary: #ff7a45;
$primary-focus: #ff9c6e;
$secondary: #f9fafd;
$secondary-border: #cbd6e2;
$background-gray: #f9fafd;
$header: #33475B;

$link: #0091ae;

$error: #ff3860;

$font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
$btn-font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;

$default-focus: #bae7ff;

$text-primary: #33475B;